@import '../../../../utils/globals.scss';

.faq-container {
  margin: #{$margin}px;

  .header {
    text-align: center;
    @include TitleFont;
    font-size: 2.75rem;
    padding-top: 75px;
    padding-bottom: 15px;
    color: $dark;
  }

  .faq {
    .faq-title {
      @include TitleFont;
      font-size: 1.75rem;
      color: $dark;
    }
  }
}